<div
  class="accessory-box"
  [ngClass]="{ 'switch-on': service.values.On || service.values.Active }"
  (longClick)="onLongClick()"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    @if (service.values.On || service.values.Active) {
    <img
      src="/assets/hap-icons/fan-on.svg"
      alt="Fan (On)"
      class="accessory-img"
      [ngClass]="{
          'spin': !hasRotationDirection || (hasRotationDirection && service.values.RotationDirection === 0),
          'spin-counter': !hasRotationDirection || (hasRotationDirection && service.values.RotationDirection === 1),
        }"
    />
    } @else {
    <img src="/assets/hap-icons/fan-off.svg" alt="Fan (Off)" class="accessory-img" />
    }
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    @if (service.values.On && service.values.RotationSpeed) {
    <div class="accessory-label grey-text">{{ service.values.RotationSpeed }}{{ rotationSpeedUnit }}</div>
    } @else {
    <div
      class="accessory-label grey-text"
      [innerText]="((service.values.On || service.values.Active) ? 'accessories.control.on' : 'accessories.control.off') | translate"
    ></div>
    }
  </div>
</div>
