<div class="accessory-box" (longClick)="onClick()" (shortClick)="onClick()" tabindex="0">
  <div class="d-flex flex-column h-100">
    <div
      [inlineSVG]="'/assets/hap-icons/filter-maintenance.svg'"
      [attr.aria-label]="'Filter Maintenance'"
      class="accessory-svg"
    ></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    <div class="accessory-label grey-text">
      <span [ngClass]="{ 'red-text': service.values.FilterChangeIndication === 1 }">
        {{ service.values.FilterLifeLevel }}%
      </span>
      @if (service.values.FilterChangeIndication === 1) { &middot;
      <span class="red-text">{{ 'accessories.control.replace' | translate }}</span>
      }
    </div>
  </div>
</div>
