<div
  class="accessory-box"
  [ngClass]="{ 'switch-on': service.values.SecuritySystemCurrentState !== 3 }"
  (longClick)="onClick()"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    @if (service.values.SecuritySystemCurrentState === 3) {
    <div
      [inlineSVG]="'/assets/hap-icons/security-system-off.svg'"
      [attr.aria-label]="'Security System (Disarmed)'"
      class="accessory-svg"
    ></div>
    } @else if (service.values.SecuritySystemCurrentState === 4) {
    <div
      [inlineSVG]="'/assets/hap-icons/security-system-triggered.svg'"
      [attr.aria-label]="'Security System (Triggered)'"
      class="accessory-svg"
    ></div>
    } @else {
    <div
      [inlineSVG]="'/assets/hap-icons/security-system-active.svg'"
      [attr.aria-label]="'Security System (Armed)'"
      class="accessory-svg"
    ></div>
    }

    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>

    @switch (service.values.SecuritySystemCurrentState) { @case (0) {
    <div class="accessory-label grey-text">{{ 'accessories.control.home' | translate }}</div>
    } @case (1) {
    <div class="accessory-label grey-text">{{ 'accessories.control.away' | translate }}</div>
    } @case (2) {
    <div class="accessory-label grey-text">{{ 'accessories.control.night' | translate }}</div>
    } @case (3) {
    <div class="accessory-label red-text">{{ 'accessories.control.off' | translate }}</div>
    } @case (4) {
    <div class="accessory-label red-text">{{ 'accessories.control.triggered' | translate }}</div>
    } }
  </div>
</div>
