<div
  class="accessory-box"
  [ngClass]="{ 'light-on': service.values.On }"
  appLongclick
  (longclick)="onLongClick()"
  (shortclick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/light-bulb.svg'" [attr.aria-label]="'Light Bulb'" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    @if (service.values.Brightness) {
    <div
      class="accessory-label grey-text"
      [innerHTML]="service.values.On
        ? service.values.Brightness + '%' + (hasAdaptiveLighting ? (' &middot; <i class=\'fa fa-sun ' + (isAdaptiveLightingEnabled ? 'on-text' : 'grey-text') + '\'></i>') : '')
        : ('accessories.control.off' | translate)"
    ></div>
    } @else {
    <div
      class="accessory-label grey-text"
      [innerHTML]="(service.values.On
        ? 'accessories.control.on' + (hasAdaptiveLighting ? (' &middot; <i class=\'fa fa-sun ' + (isAdaptiveLightingEnabled ? 'on-text' : 'grey-text') + '\'></i>') : '')
        : 'accessories.control.off') | translate"
    ></div>
    }
  </div>
</div>
